<div class="container">
  <% if session[:user_id] %>
    <h1>New location</h1>
    <%= render 'form' %>
    <%= link_to 'Back', geolocations_path %>
    <%= button_to 'Logout', logout_path, method: :delete %>
  <% end %>
</div>