/*div.wrapper {
border:2px solid yellow;
}

div.MovieData {
border:2px solid red;
}


div.searchResults {
border:2px solid green;  
}

div.GeoDetails {
border:2px solid blue;  
}

div.container {
  border:2px solid black; 
}
*/


.container {
  min-width: 36%;
  width: 95%;
  height: 100%;
  margin-left: auto ;
  margin-right: auto ;
  position: absolute;
  top: 23%;
}

.userInput {
  background-color: #8F8F8F;
  float: left;
  padding: 1%;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-style:groove;
  border-color: #B8B8B8;
  border-width:5px;

/*Center of the monitor */
    position: absolute;
    left: 40%;
    top: 1%;
    z-index: 100;

  margin-left: auto;
  margin-right: auto;


  text-align:center;
  height: 10%;

  min-width: 3em;

  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;

}

.noresults {
  display: inline-block;
  padding-left: 35%;
}

/* movie results page */
.IndexMovieData {
  width: 100%;
}


.MovieData .Poster { 
  margin: 3px;
  float: left;
  width: auto;
}

.wrapper .Poster {

}

img {
  min-width: 30%;
  max-width:100%;
  display:block;
}

.Poster img {
  height: auto;
  width: 440px;
}

.Poster {
  min-width: 15%;
  max-width: 50%;
}

.MovieData .MovieDetails {
  float: left;
  display: block;
  margin: 15px;
  max-width: 20%;
}

.GeoDetails {
  float:right;
  padding: 1%;

  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;

  width: auto;

}

/* first search page */
/* move last div to include new location 
  /* needs to be added to the intro page */
.wrapper {
  width: 100%;
  height: 100%;

}



.Preview {
  width: 50%;
}

/* every page */

.UserOptions {
/*  position: absolute;
  bottom: 5px;*/

  float: left;
  position: bottom;

}

.searchResults {
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  width: 47%;

  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;

  margin-left: auto;
  margin-right: auto;

}

.wrapper .Poster {
  margin-left: 20%;
}

.wrapper .GeoDetails {
  margin-right: 10%;
}
